<div class="col-12 p-0 m-0">
  <section class="overflow-x-hidden h-screen" style="font-family: system-ui, sans-serif;">
    <div class="parallax-container">
      <div class="parallax-bg"
           [style.backgroundImage]="'url(assets/img/mainBG.jpg)'"
           [style.transform]="'translateY(' + parallaxOffset + 'px)'">
      </div>
      <div class="content">
        <section
          class="content-section flex justify-content-around  align-content-center flex-column align-items-start h-30rem text-light md:text-4xl text-1xl font-bold col-8 m-auto col-12 md:col-8"
          dir="rtl">
          <h2 class="w-full text-center text-2xl md:text-2xl mt-0 animate-text animate-delay-1"
              style="color :cornflowerblue">به پورسا خوش
            آمدید</h2>
          <div class="text-cyan-700" style="color :black !important;">
            <p class="m-2 animate-text animate-delay-2"> یک گروه خلاق هستیم</p>
            <p class="m-2 animate-text animate-delay-3">که برندهای تأثیرگذار و</p>
            <p class="m-2 animate-text animate-delay-4">تجربیات دیجیتال را طراحی می‌کنیم</p>
          </div>
          <div
            class="flex flex-wrap justify-content-center align-content-center gap-3 mt-3 animate-text animate-delay-5 w-full">
            <button class="custom-btn">براورد قیمت</button>
            <button class="custom-btn">دریافت لیست قیمت</button>
            <button class="custom-btn">لیست محصولات</button>
          </div>
        </section>
        <div class="home-content__line"></div>
      </div>
    </div>
  </section>

  <div class="col-12 p-0 m-0">
    <section class="overflow-x-hidden bg-oragne-400 h-screen" style="font-family: system-ui, sans-serif;">
      <div class="parallax-container">
        <div class="content">

          <div class="about__line"></div>
        </div>
      </div>
    </section>

  </div>

