<div class="   px-4 py-8 md:px-6 md:px-8">
  <div class="  grid nogutter gap-3">
    <div class="  col-12 md:col-4 md:p-3 p-0">
      <div class="bg-light shadow-2 border-round-top-3xl h-full surface-card">
        <img src="assets/product/photo_1_2025-04-09_21-01-52.jpg" alt="Image"
             class="max-h-27rem   block w-full border-round-top border-round-top-3xl" style="object-fit: cover">
        <div class="p-2 md:p-4" style="background-color: white">
          <h3 class="text-center   my-1" style="color:#3f98cd">یورین باتل 90ml شفاف</h3>

          <div class="card-body md:px-3 p-0  ">
            <div class="border-1 border-round border-round-2xl   border-round px-3 mx-auto"
                 style="max-width: 700px; font-family: 'Vazirmatn', sans-serif; border :1px solid #c1c1c1 ; background-color: white">
              <ul class="text-right text-700 pr-4" style="direction: rtl;">
                <li>ایده‌آل برای جمع‌آوری، حمل و نقل و آنالیز نمونه پاتولوژی/ادراری</li>
                <li>ظرف نمونه‌گیری ادرار مدرج و دارای درب پیچی‌دار</li>
                <li>کاملاً آب‌بند و بدون نشتی</li>
                <li>تولید شده در شرایط استریل و عاری از هرگونه آلودگی میکروبی</li>
                <li>غیرقابل اتوکلاو و قابل ارائه در انواع استریل و غیر استریل</li>
                <li>در کارتن‌های ۴۰۵ عددی</li>
              </ul>
              <hr class="my-3">
              <ul class="text-left text-700 pl-4" style="direction: ltr;">
                <li>graduated urine sampling container with screw cap</li>
                <li>ideal for urine and pathology specimen collection/transportation and analysis</li>
                <li>completely watertight and leak-free</li>
                <li>produced under steril conditions and free from any microbial contamination</li>
                <li>non autoclavable and available in steril and non steril versions</li>
                <li>in cartons of 405 pieces</li>
              </ul>
            </div>
          </div>
          <div class="flex">
            <div class="  col-12">
              <p-card header="common data " class="m-3" dir="ltr">
                <div class="  bg-blue-50 rounded-md shadow-sm text-sm text-gray-800">
                  <p><strong>qty:</strong> 405</p>
                  <p><strong>vol:</strong> 90 mL</p>
                  <p><strong>Material:</strong> ps / pe</p>
                </div>
              </p-card>
              <div class="overflow-scroll" style="background-color: white">
                <table class="w-full min-w-max text-sm text-center border-collapse shadow-2 rounded-md">
                  <thead style="background-color: #026CAE;" class="text-white font-semibold">
                  <tr>
                    <th class="py-2 px-3">name</th>
                    <th class="py-2 px-3">sterility</th>
                    <th class="py-2 px-3">color</th>
                  </tr>
                  </thead>
                  <tbody class="text-gray-800">
                  <tr class="hover:bg-blue-50 transition-colors duration-150 border-b border-gray-200">
                    <td class="py-2 px-3">urine bottle</td>
                    <td class="py-2 px-3">st</td>
                    <td class="py-2 px-3">clear / orange</td>
                  </tr>
                  <tr class="bg-gray-50 hover:bg-blue-50 transition-colors duration-150 border-b border-gray-200">
                    <td class="py-2 px-3">urine bottle</td>
                    <td class="py-2 px-3">un_st</td>
                    <td class="py-2 px-3">clear / green</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="   col-12 lg:col-4 md:p-3 p-0">
      <div class=" bg-light shadow-2 border-round-top-3xl h-full surface-card">
        <img src="assets/product/photo_2_2025-04-09_21-01-52.jpg" alt="Image"
             class="max-h-27rem   block w-full border-round-top border-round-top-3xl" style="object-fit: cover">
        <div class="md:p-4 p-2" style="background-color: white">
          <h3 class="text-center   my-1" style="color:#3f98cd">بورین بالا 70 میلیلیتر</h3>

          <div class="card-body md:px-3 p-0  ">
            <div class="border-1 border-round border-round-2xl   border-round px-3 mx-auto"
                 style="max-width: 700px; font-family: 'Vazirmatn', sans-serif;border :1px solid #c1c1c1 ;background-color: white">
              <ul class="text-right text-700 pr-4" style="direction: rtl;">
                <li>ظرف نمونهگیری مدرج با درب پیچدار</li>
                <li>مناسب برای جمعآوری و آنالیز نمونه ادرار</li>
                <li>کاملاً آب‌بند و بدون نشتی</li>
                <li>تولیدشده در شرایط استریل و عاری از آلودگی میکروبی</li>
                <li>قابل اتوکلاو در انواع استریل و غیراستریل</li>
                <li>بستهبندی: عددی</li>
              </ul>
              <hr class="my-3">
              <ul class="text-left text-700 pl-4" style="direction: ltr;">
                <li>graduated urine sampling container with screw cap</li>
                <li>ideal for urine and pathology specimen collection/transportation and analysis</li>
                <li>completely watertight and leak-free</li>
                <li>produced under steril conditions and free from any microbial contamination</li>
                <li>Autoclavable (available in sterile and non-sterile versions)</li>
              </ul>
            </div>
          </div>
          <div class="flex">
            <div class="  col-12">
              <p-card header="common data " class="m-3" dir="ltr">
                <div class="  bg-blue-50 rounded-md shadow-sm text-sm text-gray-800">
                  <p><strong>name:</strong> Urine Bottle</p>
                  <p><strong>vol:</strong> 70 ml</p>
                  <p><strong>Material:</strong> PP/PE </p>
                </div>
              </p-card>
              <div class="overflow-scroll" style="background-color: white">
                <table class="w-full min-w-max text-sm text-center border-collapse shadow-2 rounded-md">
                  <thead style="background-color: #026CAE;" class="text-white font-semibold">
                  <tr>
                    <th class="py-2 px-3">sterility</th>
                    <th class="py-2 px-3">color</th>
                    <th class="py-2 px-3">case qty</th>
                  </tr>
                  </thead>
                  <tbody class="text-gray-800">
                  <tr class="hover:bg-blue-50 transition-colors duration-150 border-b border-gray-200">
                    <td class="py-2 px-3">st</td>
                    <td class="py-2 px-3">clear / orange</td>
                    <td class="py-2 px-3">500</td>
                  </tr>
                  <tr class="bg-gray-50 hover:bg-blue-50 transition-colors duration-150 border-b border-gray-200">
                    <td class="py-2 px-3">un_st</td>
                    <td class="py-2 px-3">clear / green</td>
                    <td class="py-2 px-3">700</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


