
.navbar {
  position: absolute;
  width: 100%;
  z-index: 5;
  background: #8d9bad8c;
   backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);

}

.main-nav {
  display: none;
}

.main-nav li {
  text-align: center;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 10%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;

    background: rgba(255, 255, 255, 0);

  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    padding: 0;
    display: flex;
    margin-right: 10%;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color:  #8D9BAD;
  }
}
